<h2 style="color: #e86100"> Customer Details </h2>
<h3 style="color: #e86100"> <%= flash[:message] %></h3>

Name: <%= @customer.name %><br>
Gender: <%= @customer.gender %><br>
Date of birth: <%= @customer.date_of_birth.strftime("%d/%m/%Y") %><br>
City: <%= @customer.city %><br>
State: <%= @customer.state %><br>
Country: <%= @customer.country %><br>
Email: <%= @customer.email %><br>
Mobile no: <%= @customer.mobile_no %><br>
Interest: <%= @customer.interest.to_sentence.titleize%> <br> <br>

<%= link_to "Go to Back", {:action => 'index'} %>


