<!DOCTYPE html>
<html>
  <head>
    <title>ProductManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <div class="footer">
      <p class="left-text" > Beryl System pvt. ltd </p>
      <p class="right-text">© Beryl system </p>
    </div>
  </body>
</html>
