<% if @user.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h2> Sign up </h2>
<%= form_with url: "create" , method: :post do |f| %>
  <%= f.label :name, "User" %>
  <%= f.text_field :name %> <br><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br><br>
  <%= f.label :confirm_password %>
  <%= f.password_field :password_confirmation %><br><br>
  <%= f.label :date_of_birth %>
  <%= f.date_field :date_of_birth %> <br><br>
  <%= f.label :address %>
  <%= f.text_area :address %> <br> <br>
  <%= f.check_box :terms_of_services %> I accept terms and conditions <br> <br>
  <%= f.submit "Sign up" %>
  
<% end %>